<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Werewolf Bar Mitzvah</h1>
    <p class="lead">A Spooky Scary Digital Parlor Game</p>
    <img src="assets/images/werewolf.jpg" alt="Werewolf Bar Mitzvah">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Games:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="game in $ctrl.games">
        <li><a href="#" uib-tooltip="{{game.info}}">{{game.name}}<button type="button" class="close" ng-click="$ctrl.deleteGame(game)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="game-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Create a new game here." ng-model="$ctrl.newGame">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addGame()">New Game</button>
      </span>
    </p>
  </form>
</div>
